body {
    background-color: antiquewhite;
    font-family: georgia;
}

.navbar {
    text-align: center;
}
    .bookNowNav {
        color: black;
        text-decoration: none;
        border-bottom: 5px dotted white;
        border-right: 1px solid black;
    }
    .homeNav {
        color:black;
        text-decoration: none;
        border-bottom: 5px dotted black;
    }
    .galleryNav {
        color: black;
        text-decoration: none;
        border-bottom: 5px dotted white;
        border-right: 1px solid black;
        border-left: 1px solid black;
    }
    .pricingNav {
        color: black;
        text-decoration: none;
        border-bottom: 5px dotted black;
    }
    .contactNav {
        color: black;
        text-decoration: none;
        border-bottom: 5px dotted white;
        border-left: 1px solid black;
    }

.headers {
    text-align: center;
    margin: auto;
    font-family: cursive;
}

.midContainer {
    width: 60%;
    margin: auto;
    border: 5px solid black;
    margin-top: 50px;
    padding-right: 5px;
    padding-left: 5px;
}

.productsSection {
    margin: auto;
    text-align: center;
}
.heather {
    margin: auto;
    text-align: center;
    font-family: cursive;
}

.barberImage {
    margin: auto;
    text-align: center;
    border-left: 10px dotted black;
    border-right: 10px dotted black;
}


.aboutMeLists {
    margin: auto;
    text-align: left;
}

li {
    list-style: none;
    padding-bottom: 7px;
    /* margin-right:10px; */
}