body {
    background-color: antiquewhite;
    font-family: cursive;
}

.contactNav {
    color: white;
}

.title {
    text-align: center;
    background-color: white;
    width: 80%;
    margin: auto;
    border: 12px double black;
    transform: scale(0.8, 0.8)
}
    .locationTitle {

    }
    .ofTitle {

    }
    .theTitle {

    }
    .hairTitle {
        font-size: 50px;
}

.buttonContainer {
    text-align: center;
    padding-bottom: 30px;
    position: relative;
    animation: askDirectionsAnimation 4s infinite;
}

#getDirections {
    transform: scale(3, 3);
    cursor: pointer;
    border: 4px solid black;
}


#map {
    height: 400px;  
    width: 100%;  
    border: 10px solid none;
}

@media only screen and (min-width: 925px) {
    #map {
        width: 66%;
        margin: auto;
    }
}

@keyframes askDirectionsAnimation {
    0%   {top: 0px; left: 0px;}
    25%  {top: 0px; left: -50px;}
    50%  {top: 0px; left: 50px;}
    75%  {top: 0px; left: -50px;}
    100% {top: 0px; left: 0px;}
  }