body {
    background-color: antiquewhite;
    font-family: cursive;
}

.contactNav {
    color: white;
}

.title {
    text-align: center;
    background-color: white;
    width: 80%;
    margin: auto;
    border: 12px double black;
    transform: scale(0.8, 0.8)
}
    .locationTitle {

    }
    .ofTitle {

    }
    .theTitle {

    }
    .hairTitle {
        font-size: 50px;
}

.buttonContainer {
    text-align: center;
    padding-bottom: 30px;
}

#getDirections {
    transform: scale(3.5, 3.5);
    cursor: pointer;
}


#map {
    height: 400px;  
    width: 100%;  
    border: 10px solid none;
}

@media only screen and (min-width: 925px) {
    #map {
        width: 66%;
        margin: auto;
    }
}