body {
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}
.navbar {
    text-align: center;
}
    .bookNowNav {
        color: black;
        text-decoration: none;
        border-bottom: 5px dotted white;
        border-right: 1px solid black;
    }
    .homeNav {
        color:black;
        text-decoration: none;
        border-bottom: 5px dotted black;
    }
    .aboutNav {
        color: black;
        text-decoration: none;
        border-bottom: 5px dotted white;
        border-right: 1px solid black;
        border-left: 1px solid black;
    }
    .pricingNav {
        color: black;
        text-decoration: none;
        border-bottom: 5px dotted black;
        border-left: none;
        border-right: none;
    }
    .contactNav {
        color: black;
        text-decoration: none;
        border-bottom: 5px dotted white;
        border-left: 1px solid black;
    }

.galleryTitle {
    text-align: center;
    border: 10px double black;
    font-size: 60px;
    font-family: cursive;
}


.gallery{
    width: 80%;
    text-align: center;
    margin: auto;
    /* border: 2px solid blue; */
}

@media only screen and (min-width: 925px) {
    .gallery {
        width: 50%;
        height: 50%;
    }
}

.slick-arrow{
    background-color: black
}