body {
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

    .galleryNav {
        color: white;
    }

.galleryTitle {
    text-align: center;
    border: 10px double black;
    font-size: 60px;
    font-family: cursive;
}


.gallery{
    width: 80%;
    text-align: center;
    margin: auto;
}

@media only screen and (min-width: 925px) {
    .gallery {
        width: 50%;
        height: 50%;
    }
}

.slick-arrow{
    background-color: black
}