/* body{
    background-color: blue;
} */

div {
    width: 80%;
    height: 60px;
    background-color: yellow;
    text-align: center;
    position: relative;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

.scissorsClosedContainer{
    width: 100%;
    background-color: white;
    border: none;
    text-align: center;
    transform: skew(30deg);


}

    .circle{
        border-radius: 50%;
        width: 60px;
        height: 60px;
        border-color: silver;
        background-color: white;
    }
    .line{
        height: 10px;
        width: 60px;
        background-color: gray;
        border: none;
        transform: translate(70px,-40px);
    }
    .longLine{
        height: 10px;
        width: 50px;
        background-color: silver;
        border: none;
        transform: matrix(1, 1, 0, 1, 130, -25);
    }
    .circle2{
        border-radius: 50%;
        width: 60px;
        height: 60px;
        border-color: silver;
        background-color: white;
    }
    .line2{
        height: 10px;
        width: 60px;
        background-color: gray;
        border: none;
        transform: translate(70px,-40px);
    }
    .longLine2{
        height: 10px;
        width: 50px;
        background-color: silver;
        border: none;
        transform: matrix(1, -1, 0, 1, 130, -75);
    }
    .box{
        height: 20px;
        width: 20px;
        background-color: black;
        border: none;
        transform: translate(180px, -110px);
    }
        .circleInBox{
            border-radius: 50%;
            width: 20%;
            height: 10px;
            border-color: darkslategray;
            background-color: black;
            margin: auto;
            border-width: 5px;
        }


    .blade{
        width: 0; 
        height: 0; 
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        background-color: white;
        border-color: white;
        border-left: 160px solid silver;
        transform: translate(200px, -130px);
    }
    .blade2{
        width: 0; 
        height: 0; 
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        background-color: white;
        border-color: white;
        border-left: 160px solid silver;
        transform: translate(200px, -130px);
    }

.scissorsOpenContainer{
    width: 100%;
    background-color: white;
    border: none;
    text-align: center;
    transform: skewX(30deg);
}    

    .ccircle{
        border-radius: 50%;
        width: 60px;
        height: 60px;
        border-color: silver;
        background-color: white;
        transform: translate(30px,-30px);
    }
    .lline{
        height: 10px;
        width: 60px;
        background-color: gray;
        border: none;
        transform: translate(100px,-70px);
    }
    .llongLine{
        height: 10px;
        width: 70px;
        background-color: silver;
        border: none;
        transform: matrix(.45, 1, 0, 1, 140, -45);
    }
    .ccircle2{
        border-radius: 50%;
        width: 60px;
        height: 60px;
        border-color: silver;
        background-color: white;
        transform: translate(30px,30px);
    }
    .lline2{
        height: 10px;
        width: 60px;
        background-color: gray;
        border: none;
        transform: translate(100px,-10px);
    }
    .llongLine2{
        height: 10px;
        width: 70px;
        background-color: silver;
        border: none;
        transform: matrix(.45, -1, 0, 1, 140, -55);
    }
    .bbox{
        height: 20px;
        width: 20px;
        background-color: black;
        border: none;
        transform: translate(180px, -110px);
    }
        .ccircleInBox{
            border-radius: 50%;
            width: 20%;
            height: 10px;
            border-color: darkslategray;
            background-color: black;
            margin: auto;
            border-width: 5px;
        }


    .bblade{
        width: 0; 
        height: 0; 
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        background-color: white;
        border-color: white;
        border-left: 160px solid silver;
        transform: matrix(1, -.5, 0, 1, 200, -170);
    }
    .bblade2{
        width: 0; 
        height: 0; 
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        background-color: white;
        border-color: white;
        border-left: 160px solid silver;
        transform: matrix(1, .5, 0, 1, 200, -90);
    }

.blankBorder{
    width: 80px;
    height: 200px;
    background-color: transparent;
    text-align: center;
    position: relative;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
}