body {
    background-color: black;
}

.titleGypsy {    
    width: 80%;
    background-color: antiquewhite;
    margin: auto;
    text-align: center;
    padding: 25px;
}

.titleGypsy div{
    font-family: cursive;
}
    .theTitle {
        color: white;
        text-shadow: 2px 2px black;
        border-left: 60px solid black;
        border-right: 120px solid black;
        font-size: 150%;
    }
    .hairTitle {    
        font-size: 270%;
        text-shadow: 2px 2px white;
        border-left: 80px solid white;
        border-right: 80px solid white;
        background-color: black;
        border-radius: 80%;
    }
    .gypsyTitle {    
        font-size: 300%;
        margin-top: -20px;
        text-shadow: 2px 2px black;
        border-left: 40px solid black;
        border-right: 40px solid black;
        background-color: white;
        border-radius: 80%;
        border-bottom-left-radius: 40%;
        border-top-right-radius: 40%;
    }

.pageContainer {
    background-color: antiquewhite;
    margin: auto;
    height: 100%;
    width: 80%;
    border: 2px solid white;
    padding: 10px;
}

@media only screen and (min-width: 925px) {
    body {
        width: 70%;
        margin: auto;
    }
}
@media only screen and (max-width: 500px) {
    body {
        width: 100%;
        margin: auto;
        margin-top: 5%;
    }
}

.titleImage {
    width: 40%;
    border: 10px solid black;
    margin: auto;
    text-align: center;
    background-color: white;
}

.chairContainer{
padding: 5px;
border: 5px solid black;    
margin: auto;
width: 60%;
text-align: center;
}

.homePageButton{
    border-bottom: 3px solid black;
    color: white;
    background-color: black;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
}

.chair-photo{
    border-radius: 80%;
    width: 80%;
    padding: 5px;
    border: 3px solid black;    
    margin: auto;
    text-align: center;
}

.introButtons{
    text-align: center;
    width: 100%;
}

.bookNowButton {
    font-size: 20px;
    background-color: transparent;
    width: 50%;
    margin: auto;
    padding-top: 10px;
}

.buttonBook {
    font-size: 25px;
    border: 5px dotted black;
    background-color: transparent;
    color: black;
    cursor: pointer;
    font-family: 'Courier New';
    font-weight: bold;
    position: relative;
    animation: bookButtonAnimation 8s infinite;
}
  
@keyframes glowRed {
0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
50% { background-color: white; box-shadow: 0 0 40px white; }
100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}


@keyframes glowYellow {
0% { background-color: black; box-shadow: 0 0 3px black; }
50% { background-color: yellow; box-shadow: 0 0 3px yellow; }
100% { background-color: black; box-shadow: 0 0 3px black; }
}

@keyframes glowWhite {
0% { background-color: black; box-shadow: 0 0 3px black; }
50% { background-color: white; box-shadow: 0 0 3px white; }
100% { background-color: black; box-shadow: 0 0 3px black; }
}


.cutOnEnter {
    background-color: antiquewhite;
    color: transparent;
    position: relative;
    animation: homeButtonsAnimation 8s infinite;
}

@keyframes homeButtonsAnimation {
    0%   {top: 0px; left: 0px; background: transparent;}
    25%  {top: 0px; left: 50px; background: transparent;}
    50%  {top: 0px; left: 0px; background: transparent;}
    75%  {top: 0px; left: -50px; background: transparent;}
    100% {top: 0px; left: 0px; background: transparent;}
  }
@keyframes bookButtonAnimation {
    0%   {top: 0px; left: 0px; background: transparent;}
    25%  {top: 0px; left: -50px; background: white;}
    50%  {top: 0px; left: 0px; background: transparent;}
    75%  {top: 0px; left: 50px; background: white;}
    100% {top: 0px; left: 0px; background: transparent;}
  }