body {
    background-color: white;
}

.container{
    /* background-color: #CABFB1; */
    background-color: cornsilk;
    margin: auto;
    height: 100vh;
    width: 90%;
    border: 3px solid black;
    padding: 10px;
    border-radius: 25%;
}

.title{
/* background-color: red; */
margin: auto;
font-style: italic;
font-family: courier;
font-variant: unset;
font-weight: 200;
color: #3B3024;
text-shadow: -1px 0 white, 0 3px black, 1px 0 black, 0 4px black;
font-size: 55px;
letter-spacing: -4px;
text-align: center;
width: 90%;
margin-bottom: 20px;
}
.hairTitle{
    /* font-size: 60px; */
    margin-top: -10px;
    letter-spacing: 25px;
    font-variant: small-caps;
}
.gypsyTitle{
    font-size: 50px;
    margin-top: -100px;
    margin-bottom: 40px;
}

.chairContainer{
background-color: black;    
margin: auto;
width: 55%;
height: 60vh;
border: 5px solid black;
padding: 5px;
text-align: center;
z-index: 10;
border-radius: 10%;

}

.chairBack{
display: inline-block;
height: 100px;
width: 100px;
background-color: red;
}

.leftArm{
    display: inline-block;
    height: 50px;
    width:25px;
    background-color: red;
    top:50px;
    transform: rotateX(40deg)
}

.rightArm{
    display: inline-block;
    height: 50px;
    width:25px;
    background-color: red;
    top: 50px;
    left:100px;
    transform: rotateX(40deg)

}

.chairSeat{
    display: inline-block;
    position: relative;
    height:100px;
    width:75px;
    background-color: blue;
    transform: rotateX(60deg);
    /* left: 40px;
    top:-25px; */
}

.chairStand{
    display: inline-block;
    position:relative;
    height:100px;
    width:25px;
    background-color: white;
    text-align: center;
    /* left: 65px;
    top:-45px; */
    /* z-index: -1; */
}

.chairBase{
    display: inline-block;
    position:relative;
    height:100px;
    width:100px;
    border-radius: 50%;
    background-color: white;
    transform: rotateX(60deg);
    /* left:26px;
    top:95px; */
    /* z-index: ; */

}  

.homePageButton{
    border-style: solid;
    border-width: 3px;
    border-color: yellow;
}